This is Jupyter notebook: https://jupyter.org

# 01. Python

In [4]:
# Litral example
1+2

3

In [5]:
# Types in Python
type(1), type(1.2), type("hello"), type(True)

(int, float, str, bool)

In [6]:
# This is also a string
type('hello')

str

In [7]:
# Example of variable
a = 1

In [8]:
# Check type
type(a)

int

In [9]:
# Python is a dynamic typing language
a = 1
a = "str"
type(a)

str

## Minor example: Hello world

In [10]:
print("Hello World!")

Hello World!

In [11]:
# Foramt string
x = 3.1415926
print(f"Hello World! pi={x:.3}")

Hello World! pi=3.14

## Functions

In [12]:
# Example of function definition (with docstring)
def add(a, b = 1):
  """
  Add function
  """
  return a + b

# Example of function call
add(1, 2)

3

In [13]:
# We can get a help in Pythpn
help(add)

Help on function add in module __main__:

add(a, b=1)
    Add function

In [14]:
# keyworded arguments
add(a=1, b=2)

3

In [15]:
# mixed: positional and keyworded arguments
add(1, b=2)

3

In [16]:
# Example of different type arguments in print function (see help)
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [17]:
# Example of sep argument in print
print("a", "b", sep=":")

a:b

In [18]:
# Assign x to add funtion
x = add

In [19]:
# Call
x(1,2)

3

In [20]:
# This s a lambda function: definition and call
(lambda x: x*2)(2)

4

In [21]:
# Set name for laambda function
f = lambda x: x*2
f(2)

4

### Scope

In [22]:
# Global and local variables
y = 1

def do_smth():
  print(f"local y = {y}")
  # y = 2

do_smth()
print(y)

local y = 1
1

In [23]:
# Global and local variables: write to global value (bad code)
y = 1

def do_smth():
  global y
  y = 2

do_smth()
print(y)

2

## Data structure

In [24]:
list() # empty list

[]

In [25]:
[] # empty list

[]

In [26]:
[1,2,3,4] # list of integers (homogenious)

[1, 2, 3, 4]

In [27]:
x = ["a", "b", "c"] # Assign x to list of strings

In [28]:
len(x) # length of list

3

In [29]:
x.append("d") # add element ot the end of the list
x

['a', 'b', 'c', 'd']

In [30]:
x[1] = "x" # rewrite values in the list
x

['a', 'x', 'c', 'd']

In [31]:
[1, 4.2, "q"] # (bad) list of different types

[1, 4.2, 'q']

In [32]:
# Must be error (we expect the same type of elements)
for x in [1, 4.2, "q"]:
  print(x**2)

1
17.64

TypeError: ignored

In [33]:
tuple() # empty tuple

()

In [34]:
t = (1, 4.2, "q") # tuple is heterogenious

In [35]:
t[1] = 4 # Must be error: tuple is read-only structure

TypeError: ignored

In [36]:
dict() # empty dictionary

{}

In [37]:
# example of ditionary
{
    "key": "value"
}

{'key': 'value'}

In [38]:
students = {"A": 5, "B": 4, "C": 3} # another example

In [39]:
students["A"] # read dictionary key

5

In [40]:
dir(students) # see methods

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [41]:
students.items() # get items

dict_items([('A', 5), ('B', 4), ('C', 3)])

In [42]:
# Fill list with values
l = []
for n in range(10):
  r = 2**n
  l.append(r)

print(l)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [43]:
# list comprehension
[2**n for n in range(10)]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [44]:
# Example of map (+ convert to list)
f = lambda x: 2**x
list(map(f, range(10)))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [45]:
# Example of filter (+ convert to list)
list(filter(lambda x: x%2==0, range(10)))

[0, 2, 4, 6, 8]

In [46]:
# Example of import
import functools

In [47]:
# Example of import particular module
from functools import reduce

In [48]:
# Example of reduce(f, [1,2,3], 0) -> f(f(f(0,1),2),3)
functools.reduce(lambda a,b: a+b, [1,2,3])

6

## For, while, if-else

In [49]:
# Cycle over dictionary
for x in students.items():
  key = x[0]
  value = x[1]
  print(f"{key}: {value}")

A: 5
B: 4
C: 3

In [50]:
# Syntax suguar: tuple to tuple
(a1, a2, a3) = (1,2,3)
print(a1, a2, a3)

1 2 3

In [51]:
# Syntax suguar: cycle over dictionary
for key, value in students.items():
  print(f"{key}: {value}")

A: 5
B: 4
C: 3

In [52]:
# Simple while cycle
i=0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

In [53]:
# Example of range (lazy)
# [a,b)
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
# Example (code isn't usable)
while True:
  break # stop cycle
  continue # stop current step of the cycle and go to the next step

In [55]:
# Example of if-else
x = True
if x:
  pass
else:
  pass

In [56]:
# Example of if-elif-else
x = False
y = True
if x:
  pass
elif y:
  pass
else:
  pass

## Generators

In [57]:
# Example of generators (~custom lazy functions)
def range_custom(a, b):
  i = a
  while i < b:
    yield i
    i+=1

In [58]:
# Usage of our custom  range
for x in range_custom(0, 10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [59]:
# Get version of python
import sys
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]